extends ../layout

block content  
  div.newBook
    form(name="bookNew", action="/books", method="post")
      label(for="title") Title
      br
      input(type="text", name="title")
      br
      label(for="genre") Genre
      br
      input(type="text", name="genre")
      br
      label(for="cover_url") Cover Image URL
      br
      input(type="text", name="cover_url")
      br
      label(for="description") Description
      br
      textarea(name="description", rows="5", cols="40")
      br
      label(for="newAuth") New Author
      br
      textarea(name="newAuth", rows="3", cols="35")
      br
      div.authorButtons
        button(type="submit", name="removeAuthor") Remove Author
        button(type="submit", name="addAuthor") Add Author
      select(name="authors")
        option(value='1') Alex Martelli
        option(value='2') Anna Ravenscroft
        option(value='3') Steve Holden
        option(value='4') Allen B. Downey
        option(value='5') Bonnie Eisenman
        option(value='6') Kyle Simpson
      br
      div.submitButtons
      br
      button(type="submit", name="addBook", id="addBook") Add Book
     
     
