extends layout

block content
  div.header
    div.logo
      a(href='www.google.com')
        img.logo(src='https://cdn.evbuc.com/eventlogos/65503631/galvanizegalvanizelogotextlogo28129.png')
    div.title
      p Galvanize Reads
  div.container
    div.authorsDiv
      div.authorBook
        p.authors Authors
    div.booksDiv
      div.person
        p.books Books
