extends layout

block content
  div.container
    div.logo
      a(href='www.google.com')
        img.logo(src='https://cdn.evbuc.com/eventlogos/65503631/galvanizegalvanizelogotextlogo28129.png')
    div.title
      p Galvanize Reads
