extends layout

block content
  if obj
  
  div.container
    div.authorsDiv
      div.authorBook
        for books in obj
          p= books.title
        a.bookTitle(href='/books')
          h1 Book Titles
          
    div.booksDiv
      div.person
        p.books Books
