extends layout

block content
  if obj
  div.header
    div.logo
      a(href='www.google.com')
        img.logo(src='https://cdn.evbuc.com/eventlogos/65503631/galvanizegalvanizelogotextlogo28129.png')
    div.title
      p Galvanize Reads
      
  div.booksContainer
    for Books in obj
      p.bTitle= Books.Title
      p.bGenre= Books.Genre
      p.bDesc= Books.Description
      p.bCov= Books.Cover_URL
      
  
      
