extends layout

block content      
  if obj
  
  div.booksContainer
    for books in obj
      p.bTitle= books.title
      p.bGenre= books.genre
      p.bDesc= books.description
      p.bCov= books.cover_url
        
  
      
