body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.header {
  width: 100%;
  height: 40%;
  background-color: grey;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 50px;
  height: 50px;
  justify-content: flex-start;
  padding: 2% 1% 1% 1%
}

.title {
  font-size: 25px;
  color: white;
  justify-content: flex-end;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.authorsDiv {
  background-color: orange;
  width: 40%;
  height: 100%;
  padding-right: 5%;
  justify-content: flex-start;
  margin: 2% 4% 0 2%;
  text-align: center;
}

.booksDiv {
  background-color: orange;
  width: 40%;
  height: 100%;
  padding-left: 5%;
  display: flex;
  justify-content: flex-end;
  margin: 2% 2% 0 4%;
  text-align: center;
}

.authors {

}
