body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.header {
  width: 100%;
  height: 40%;
  background-color: grey;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 50px;
  height: 50px;
  justify-content: flex-start;
  padding: 2% 1% 1% 1%
}

.headerTitle {
  font-size: 25px;
  color: white;
  justify-content: flex-end;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.authorsDiv {
  background-color: orange;
  width: 40%;
  height: 100%;
  padding-right: 5%;
  justify-content: flex-start;
  margin: 2% 4% 0 2%;
  border-radius: 4px;
}

.authorBook {
  text-align: left;
  padding-left: 2%;
}

.booksDiv {
  background-color: orange;
  width: 40%;
  height: 100%;
  padding-left: 5%;
  display: flex;
  justify-content: flex-end;
  margin: 2% 2% 0 4%;
  text-align: center;
  border-radius: 4px;
}
/* Books Show Page */

.booksContainer {
  background-color: orange;
  border-radius: 4px;
  width: 80%;
  height: 100%;
  padding: 2%;
  margin: 2%;
  align: center;
}

.bTitle {
  color: black;
  font-size: 15px;
  text-decoration: none;
  float: left;
}

.bookCover {
  width: 200px;
  float: left;
}

.bDesc {
  width: 40%;
  height: 30%;
  float: left;
}

.bGenre {
  background-color: white;
  width: 12%;
  height: 8%;
  text-align: center;
  font-size: 10px;
  color: black;
  border-radius: 2px;
  margin: 0 auto;
  float: right;
}


.newBook {
  padding: 2%;
  width: 60%;
  height: 80%;
  border-radius: 4px;
  background-color: orange;
}

.authorButtons {
  padding-top: 4%;
}

.addBook {
  width: 50%;
  height: 35%;
  border-radius: 4px;
  background-color: white;
}
